@charset "utf-8";
/* CSS Document */
@import url("../../reset.css");
body{
	margin:0;
	padding:0;
}
select,input{
	margin:0;
	padding:0;
}
a{
	cursor:pointer;
}
a:link {
	text-decoration: none;
	color:#0033FF;
}
a:visited {
	text-decoration: none;
	color:#9966CC;
}
a:hover {
	text-decoration:none;
	color:#FFFF09;
}
a:active {
	text-decoration: none;
	color:#FFF;
}
p{
	text-indent:10px;
	font-family:"黑体";
	font:14px;
	margin-top:20px;
}
.panel div{
	margin:10px;
	width:auto;
	height:auto;
	line-height:30px;
}
.panel span{
	font-family:"微软雅黑";
	font-size:14px;
	display:inline-block;
	width:100px;
}
.panel div .star{
	display:inline-block;
	width:8px;
	color:red;
}
.panel{
	position:relative;
	height:1000px;
	background-image: -moz-linear-gradient(left top, #ddd, #fff); /* Firefox */
	background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #ddd), color-stop(1, #fff)); /* Saf4+, Chrome */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dddddd', endColorstr='#ffffff', GradientType='0.5'); /* IE*/
}
.tab{
	width:90px;
	height:24px;
	float:left;
	font-family:"黑体"; 
	font-size:14px;
	font-weight:bold;
	color:#FFFFFF;
	cursor:pointer;
	line-height:24px;
	text-align:center;
	margin-right:10px;
	border-left:none;
	border-top:none;
	border-right:2px solid #999999;
	border-bottom:2px solid #999999;
	-moz-border-top-left-radius:6px;
	-moz-border-top-right-radius:6px;
    -webkit-border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	background-image: -moz-linear-gradient(top, #d4e5f9, #2f5684); /* Firefox */
	background-image: -webkit-gradient(linear,left top,left bottom, color-stop(0, #d4e5f9), 			color-stop(1, #2f5684)); /* Saf4+, Chrome */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d4e5f9', endColorstr='#2f5684', GradientType='0.5'); /* IE*/
	text-shadow:black 2px 2px 2px;
}
.tab_select{
	width:90px;
	height:24px;
	float:left;
	font-family:"黑体";
	color:#FFFF09;
	line-height:24px;
	text-align:center;
	margin-right:10px;
	text-shadow:black 0 0 2px;
	-moz-border-top-left-radius:6px;
	-moz-border-top-right-radius:6px;
    -webkit-border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	background-image: -moz-linear-gradient(top, #d4e5f9, #2f5684); /* Firefox */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #d4e5f9), 			color-stop(1, #2f5684)); /* Saf4+, Chrome */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d4e5f9', endColorstr='#2f5684', GradientType='0.5'); /* IE*/
}
#batch{
	position:absolute;
	top:18px;
}
.btn{
	background:#6a7d8c;
	width:60px;
	height:25px;
	color:#FFFFFF;
	font-family:"微软雅黑";
	font-weight:bold;
	margin:0 15px;
	border:1px solid #333333;
	-moz-border-radius:6px;
	-moz-border-radius:6px;
    -webkit-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border-radius:6px;
	box-shadow:black 2px 2px 2px;
	cursor:pointer;
}
.panel .bottom{
	margin-top:20px;
	text-indent:80px;
}
.bottom input{
	margin-right:15px;
}
.panel table{
	text-align:center;
	font-family:"宋体";
	font-size:14px;
	border:2px #000 solid;
	border-collapse: separate;
}
tbody {
	font-family:"宋体";
	font-size:12px;
}
td{
	padding:5px;
	border:1px black solid;
}
.package_text{
	width:40px;
}
#package{
	position:absolute;
	top:65px;
}
#tabs{
	position:absolute;
}
#tabs li{
	float:left;
	margin:0 10px;
}
.text{
	background:#e8e8e8;
	width:800px;
	height:auto;
	position:absolute;
	top:26px;
	border:2px solid #cbcbcb;
	-moz-border-radius:6px;
    -webkit-border-radius:6px;
	border-radius:6px;
}

.pages{
	margin:20px 0;
	height:auto;
}
.panel .pages span{
	margin:10px;
	color:#C4A38E;
	font-family:"黑体";
	font-size:14px;
	font-weight:bold;
	cursor:pointer;
	width:auto;
}
.page_select{
	text-decoration:underline;
}
/*号码管理*/
#text_f,#text_s{
	width:1000px;
	height:auto;
}
#num_select{
	position:absolute;
	top:20px;
	left:20px;
}
#num_text,#num_type,#num_classified,#num_status,#custom_service{
	position:absolute;
	top:20px;
	left:120px;
}
#query_400{
	position:absolute;
	top:18px;
	left:760px;
}
#u2{
	position:absolute;
	margin-right:5px;
	top:-5px;
	left:280px;
}
#u3{
	position:absolute;
	top:-3px;
	left:540px;
}
.panel .text #op_f{
	width:100%;
	height:30px;
	margin:70px 0 20px;
	border-top:4px solid #ACACAC;
	padding-top:20px;
}
#form_s{
	margin:20px 0;
	border-bottom:4px solid #ACACAC;
	padding-bottom:10px;
}
/*任务管理-查看详情*/

.panel .text_detail{
	position:absolute;
	top:26px;
	padding:10px;
	height:auto;
	background:#D7EBFF;
	width:650px;
}
.top_span{
	vertical-align:top;
}
.panel div .m{
	width:auto;
	margin-right:5px;
}

/*400-用户基本资料*/
#text_userInfo,#text_funcInfo{
	position:absolute;
	top:26px;
}
/*彩铃*/
.panel .layerName{
	width:80px;
	height:20px;
	line-height:20px;
	cursor:pointer;
	text-overflow:ellipsis
}
.layer_select{
	background:#0066FF;
	color:#FFFFFF;
}
.tree li{
	margin-left:10px;
}