@charset "utf-8";
/* CSS Document */
@import url("reset.css");
body{
	margin:0;
	padding:0;
	background-image: -moz-linear-gradient(left top, #ddd, #fff); /* Firefox */
	background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #ddd), color-stop(1, #fff)); /* Saf4+, Chrome */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dddddd', endColorstr='#ffffff', GradientType='0.5'); /* IE*/
}
select,input{
	margin:0;
	padding:0;
}

input1 {
	margin: 8px; width:80px; border: 0px currentColor; line-height: 18px; font-family: "Arial","Tahoma","微软雅黑","雅黑"; font-size: 12px; vertical-align:middle;
}

p{
	text-indent:10px;
	font-family:"黑体";
	font:14px;
}
a{
	text-decoration:none;
}
.panel div{
	margin:0px;
	width:auto;
	height:auto;
	line-height:30px;
}
.panel span{
	font-family:"微软雅黑";
	font-size:10px;
	display:inline-block;
	
}
div .star{
	display:inline-block;
	width:8px;
	color:red;
}
.panel{
	position:relative;
	width:100%;
	height:1000px;
	
}
#a,#b{

	width:118px;
	height:25px;
	float:left;
	text-align:center;
	margin-right:5px;
	background:
}
.select_a{
	margin:2px;
}
.btn{
	background:#6a7d8c;
	width:60px;
	height:25px;
	color:#FFFFFF;
	font-family:"微软雅黑";
	font-weight:bold;
	margin:0 15px;
	border:1px solid #333333;
	-moz-border-radius:6px;
	-moz-border-radius:6px;
    -webkit-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border-radius:6px;
	box-shadow:black 2px 2px 2px;
	cursor:pointer;
}
.panel .op_a{
	margin:8px;
}
.panel .show_info{
	margin:10px;
}

.panel .show_info span{
	width:66px;
	padding-left:16px;
}

.panel .query_a{
	margin:5px;
	padding:5px;
	border-bottom:4px solid #acacac; 
}
.panel #list_a{
	margin-left:10px;
}
.bottom{
	text-indent:80px;
}
.bottom input{
	margin-right:15px;
}
table{
	text-align:center;
	font-family:"宋体";
	font-size:14px;
}
tbody{
	font-family:"宋体";
	font-size:12px;
}
td{
	padding:5px;
}
.panel #tabs{
	position:absolute;
	left:20px;
	margin:2px;
}
.tab{
	width:90px;
	height:24px;
	float:left;
	font-family:"黑体";
	color:#FFFFFF;
	cursor:pointer;
	line-height:24px;
	text-align:center;
	margin-right:10px;
	border-left:none;
	border-top:none;
	border-right:2px solid #999999;
	border-bottom:2px solid #999999;
	-moz-border-top-left-radius:6px;
	-moz-border-top-right-radius:6px;
    -webkit-border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	background-image: -moz-linear-gradient(top, #d4e5f9, #2f5684); /* Firefox */
	background-image: -webkit-gradient(linear,left top,left bottom, color-stop(0, #d4e5f9), 			color-stop(1, #2f5684)); /* Saf4+, Chrome */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d4e5f9', endColorstr='#2f5684', GradientType='0.5'); /* IE*/
	text-shadow:black 2px 2px 2px;
}
.tab_select{
	width:90px;
	height:24px;
	float:left;
	font-family:"黑体";
	color:#FFFFFF;
	line-height:24px;
	text-align:center;
	margin-right:10px;
	border-left:2px solid #ADAEC2;
	border-top:2px solid #ADAEC2;
	border-right:none;
	border-bottom:none;
	-moz-border-top-left-radius:6px;
	-moz-border-top-right-radius:6px;
    -webkit-border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	background-image: -moz-linear-gradient(top, #d4e5f9, #2f5684); /* Firefox */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #d4e5f9), 			color-stop(1, #2f5684)); /* Saf4+, Chrome */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d4e5f9', endColorstr='#2f5684', GradientType='0.5'); /* IE*/
	text-shadow:black 0 0 2px;
}
.tab_over{
	box-shadow:yellow 0 0 2px;
}
.panel .list_b{
	margin:30px;
}
#text_a,#text_b{
	background:#e8e8e8;
	width:800px;
	height:auto;
	position:absolute;
	top:28px;
	border:2px solid #cbcbcb;
	-moz-border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border-radius:6px;
	left: 5px;
}
.pages{
	margin:20px 0;
	height:auto;
}
.panel .pages span{
	margin:10px;
	color:#C4A38E;
	font-family:"黑体";
	font-size:14px;
	font-weight:bold;
	cursor:pointer;
	width:auto;
}
.page_select{
	text-decoration:underline;
}
/*任务管理-查看详情*/

.panel .text_detail{
	position:absolute;
	top:26px;
	padding:10px;
	height:auto;
	background:#D7EBFF;
	width:650px;
}
.top_span{
	vertical-align:top;
}
.panel div .m{
	width:auto;
	margin-right:5px;
}
